
  #logo {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: auto;
    height: 10rem;

}

hr.class-2 { 
    border-top: 3px double #8c8b8b; 
}

.word-header{
    background-color: #8c8b8b;

    
}

#remove-button {
    position:absolute;
    top:1em;
    right: 1em;
}